/*--------- HEADER -----------*/
header {
    background-image: url(../images/header1600.jpg);
    background-repeat: no-repeat;
    
}
/*---------NAV GOES HERE-----------*/
nav {
    ul {
        margin: 0 auto; 
        width: 60rem;
    }
    ul li {
        
    }
}

/*---------MAIN GOES HERE-----------*/
main {
      article {
        width: 33.3%;
        float: left;
    }     
}